body {
    margin: 0;
    font-family: BEBAS, sans-serif;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #da1919;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #fafdfd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #2d2e05;
    color: rgb(247, 245, 245);
  }